@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordian_container {
  min-height: 100vh;
  @include center();
  flex-direction: column;
  & > h1 {
    font-size: 3.5rem;
    color: var(--primary-color);
    margin-bottom: 6rem;
    align-self: flex-end;
    font-family: var(--heading-font);
  }
  .accordian_list {
    width: 100%;
    margin: 0 auto;
    .accordian {
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        padding-bottom: 2rem;
      }
      & > hr {
        margin: 0.4rem 0;
      }
      .question {
        @include center();
        justify-content: space-between;
        transition: 0.2s ease-in-out;
        & > h2 {
          font-size: 2rem;
          font-weight: 500;
          color: var(--primary-color);
        }
      }
      .answer {
        padding: 0.4rem 0 2rem 0;
        font-size: 1.3rem;
        color: var(--secondary-color);
        transition: 1s ease-in-out;
      }
    }
  }
}


@media screen and (max-width:1250px) {
  .accordian_container {
    min-height: 85vh;
    & > h1 {
      font-size: 3.1rem;
      margin-bottom: 4.5rem;
    }
    .accordian_list {
      .accordian {
        .question {
          & > h2 {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width:1150px) {
  .accordian_container {
    min-height:80vh;
  }
}
@media screen and (max-width:1050px) {
  .accordian_container {
    min-height: 75vh;
  }
}
@media screen and (max-width:940px) {
  .accordian_container {
    min-height: 70vh;
    margin-bottom: 2rem;
    & > h1 {
      font-size: 3rem;
      margin-bottom: 3.5rem;
    }
    .accordian_list {
      .accordian {
        .question {
          & > h2 {
            font-size: 1.6rem;
          }
        }
        .answer {
          font-size: 1.25rem;
        }
      }
    }
  }
}
@media screen and (max-width:850px) {
  .accordian_container {
    min-height: 75vh;
  }
}
@media screen and (max-width:740px) {
  .accordian_container {
    // min-height: 0vh;
    & > h1 {
      line-height: 3rem;
      font-size: 2.8rem;
      margin-bottom: 3.3rem;
      align-self: center;
      text-align: center;

    }
    .accordian_list {
      .accordian {
        .question {
          & > h2 {
            font-size: 1.45rem;
          }
        }
        .answer {
          font-size: 1.2rem;
        }
      }
    }
  }
}
@media screen and (max-width:650px) {
  .accordian_container {
    & > h1 {
      text-align: center;
      font-size: 2.7rem;

    }

  }
}

