@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_container {
  @include center();
  height: 100vh;
  gap: 7rem;
  color:var(--home-first-color)  ;

  .contact_info {
    position: relative;
    box-shadow: 0px 0px 20px 7px var(--home-third-color) inset;
    padding: 3rem 5rem;
    @include center();
    flex-direction: column;

    .contact_heading {
      @include center();
      flex-direction: column;
      align-items: flex-end;

      & > h1 {
        font-size: 3.5rem;
        font-weight: 600;
        
      }
      & > h3 {
        font-size: 2.4rem;
        font-weight: 500;
        text-align: right;
        width: 100%;
        margin-bottom: 3rem;
      }
    }

    & > p {
      font-size: 1.3rem;
      margin-bottom: 2rem;
      font-weight: 500;
    }

    .logo1 {
      height: 10rem;
      width: 10rem;
      position: absolute;
      bottom: -4.7rem;
      left: -4.8rem;
      img {
        object-fit: contain;
      }
    }
    & > button {
        @include center();
        gap: 1rem;
      padding: 13px 25px;
      font-size: 1.4rem;
      margin-bottom: 2rem;
      outline: none;
      border: none;
      border-radius: 0.5rem;
        transition: 0.2s ease-in-out;
      &>span {
        @include center();
      }

      &:hover{
        transform: translateY(-0.4rem)

      }
    }

    .contact_handles {
      color: var(--home-second-color);
      @include center();
      gap: 3rem;
      & > p {
        font-size: 1.2rem;
      }

      .social {
        @include center();
        gap: 1rem;
      }
    }
  }

  .logo2 {
    height: 25rem;
    aspect-ratio: 1;
  }
}
