@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  width: 80%;
 margin: auto;
  .landing_container {
    margin-top: 2rem;
    min-height: 100vh;
    @include center;
    flex-direction: column;
    gap: 3rem;
    .img_container {
      > img {
        // height: 50vh;
        width: 30vw;
        aspect-ratio: 1.25;
        object-fit: contain;
      }
    }
    span {
      color: var(--font-color-first);
      letter-spacing: 0.2rem;
      font-weight: 900;
      font-size: 2.8rem;
      position: relative;
      font-family: var(--main-font-second);
      background: url("/images/mirror.jpg");
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}