@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  width: 80%;
  margin: auto;
  .landing_container {
    margin-top: 2rem;
    min-height: 100vh;
    @include center;
    flex-direction: column;
    gap: 3rem;
    .img_container {
      > img {
        width: 22rem;
        object-fit: contain;
      }
    }
    span {
      color: var(--font-color-first);
      letter-spacing: 0.2rem;
      font-weight: 900;
      font-size: 2.8rem;
      position: relative;
      font-family: var(--main-font-second);
      background: url("/images/mirror.jpg");
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media screen and (max-width:1150px) {
#home{
  width: 85%;
  margin: auto;
  .landing_container {
    margin-top: 2rem;
    gap: 3rem;
    .img_container {
      > img {
        width: 18rem;
        object-fit: contain;
      }
    }
    span {
      letter-spacing: 0.2rem;
      font-weight: 900;
      font-size: 2.3rem;
    }
  }
}
}
@media screen and (max-width:780px) {
  #home{
    width: 90%;
    margin: auto;
    .landing_container {
      margin-top: 0;
      gap: 2.5rem;
      .img_container {
        > img {
          width: 16rem;
          object-fit: contain;
        }
      }
      span {
        letter-spacing: 0.15rem;
        font-weight: 900;
        font-size: 2.2rem;
      }
    }
  }
  }
  @media screen and (max-width:650px) {
    #home{
      width: 90%;
      margin: auto;
      .landing_container {
        margin-top: 0;
        gap: 2rem;
        .img_container {
          > img {
            width: 14rem;
            object-fit: contain;
          }
        }
        span {
          letter-spacing: 0.05rem;
          font-weight: 900;
          font-size: 1.9rem;
        }
      }
    }
    }
@media screen and (max-width:525px) {
  #home{
    width: 95%;
    margin: auto;
    .landing_container {
      margin-top: 0;
      gap: 1.5rem;
      .img_container {
        > img {
          width: 11.5rem;
          object-fit: contain;
        }
      }
      span {
        letter-spacing: 0rem;
        font-weight: 900;
        font-size: 1.75rem;
      }
    }
  }
  }
  @media screen and (max-width:400px) {
    #home{
      width: 95%;
      margin: auto;
      .landing_container {
        margin-top: 0;
        gap: 2.5rem;
        .img_container {
          > img {
            width: 10rem;
            object-fit: contain;
          }
        }
        span {
          letter-spacing: 0rem;
          font-weight: 900;
          font-size: 1.5rem;
        }
      }
    }
    }
  

