@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics_container {
  overflow: hidden;
  min-height: 90vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1.6fr 1fr;
  color: var(--tertiary-color);
  .statistics_content {
    @include center();
    align-items: flex-start;
    flex-direction: column;

    h1 {
      font-size: 4.5rem;
      margin-bottom: 5rem;
      font-family: var(--heading-font);
    }
    hr {
      width: 7rem;
      margin-bottom: 2rem;
      background-color: rgb(214, 188, 157);
    }
    p {
      font-size: 1.5rem;
    }
  }

  .statistics_detail {
    @include center();
    flex-direction: column;
    gap: 3rem;
    align-items: flex-end;

    .detail_1 {
      @include center();
      flex-direction: row;
      gap: 2.2rem;
      margin-right: 3rem;
      .detail_category {
        h1 {
          @include center();
          font-size: 3.5rem;
          span {
            font-size: 2.5rem;
          }
        }
        h6 {
          display: flex;
          font-size: 1.5rem;
        }
      }
    }
    .detail_2 {
      @include center();
      flex-direction: row;
      gap: 2.2rem;
      .detail_category {
        h1 {
          @include center();
          justify-content: flex-start;
          font-size: 3.5rem;

          span {
            font-size: 2.5rem;
          }
        }
        h6 {
          display: flex;
          font-size: 1.5rem;
        }
      }
    }
    .detail_3 {
      @include center();
      flex-direction: row;
      gap: 2.2rem;
      margin-right: 3rem;

      .detail_category {
        h1 {
          font-size: 3.5rem;
        }
        h6 {
          display: flex;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .statistics_container {
    .statistics_content {
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
    .statistics_detail {
      gap: 2.7rem;
      .detail_1 {
        margin-right: 2rem;
      }
      .detail_3 {
        margin-right: 2rem;
      }
      .detail_2 {
        .detail_category {
          h6 {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .statistics_container {
    min-height: 75vh;
    .statistics_content {
      h1 {
        font-size: 3.7rem;
      }
      p {
        font-size: 1.4;
        margin-right: 3rem;
      }
    }

    .statistics_detail {
      .detail_1 {
        .detail_category {
          h1 {
            font-size: 3rem;
            span {
              font-size: 2rem;
            }
          }
          h6 {
            font-size: 1.3rem;
          }
        }
      }
      .detail_2 {
        .detail_category {
          h1 {
            font-size: 3rem;
            span {
              font-size: 2rem;
            }
          }
          h6 {
            font-size: 1.3rem;
          }
        }
      }
      .detail_3 {
        .detail_category {
          h1 {
            font-size: 3rem;
          }
          h6 {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .statistics_container {
    min-height: 70vh;
    margin-bottom: 3rem;
    .statistics_content {
      p {
        margin-right: 1.5rem;
        font-size: 1.2rem;
      }
    }
    .statistics_detail {
      gap: 1rem;
      .detail_1 {
        .detail_category {
          h1 {
            white-space: nowrap;
          }
        }
        .detail_2 {
          .detail_category {
            h1 {
              white-space: nowrap;
            }
          }
        }
        .detail_3 {
          .detail_category {
            h1 {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .statistics_container {
    @include center();
    flex-direction: column;
    .statistics_content {
      h1 {
        align-self: center;
        margin-bottom: 3rem;
      }
      hr {
        display: none;
      }
      p {
        font-size: 1.3rem;
        margin: 0;
        text-align: center;
        margin-bottom: 3rem;
      }
    }

    .statistics_detail {
      flex-direction: row;
      gap: 2rem;
      .detail_1 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            span {
              display: none;
            }
          }
        }
      }
      .detail_2 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            align-items: center;
            text-align: center;
            align-self: center;
            span {
              display: none;
            }
          }
        }
      }
      .detail_3 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .statistics_container {
    .statistics_content {
      h1 {
        align-self: center;
        margin-bottom: 3rem;
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
        margin: 0;
        text-align: center;
        margin-bottom: 3rem;
      }
    }

    .statistics_detail {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem;
      .detail_1 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 2.4rem;
            span {
              display: flex;
            }
          }
        }
      }
      .detail_2 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 2.4rem;
            span {
              display: flex;
            }
          }
        }
      }
      .detail_3 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .statistics_container {
    .statistics_content {
      h1 {
        align-self: center;
        margin-bottom: 3rem;
        font-size: 3rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
    
  }
}

@media screen and (max-width: 375px) {
  .statistics_container {
    .statistics_detail {
      
      gap: 1.5rem;
      .detail_1 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 2.1rem;
            span {
              display: flex;
            }
          }
          h6 {
            display: flex;
            font-size: 1.2rem;
          }
        }
      }
      .detail_2 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 2.1rem;
            span {
              display: flex;
            }
          }
          h6 {
            display: flex;
            font-size: 1.2rem;
          }
        }
      }
      .detail_3 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 2.1rem;
          }
          h6 {
            display: flex;
            font-size: 1.2rem;
          }
        }
      }
    }
    
  }
}

@media screen and (max-width: 335px) {
  .statistics_container {
    .statistics_detail {
      
      gap: 1.5rem;
      .detail_1 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 1.9rem;
            span {
              display: flex;
            }
          }
          h6 {
            display: flex;
            font-size: 1rem;
          }
        }
      }
      .detail_2 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 1.9rem;
            span {
              display: flex;
            }
          }
          h6 {
            display: flex;
            font-size: 1rem;
          }
        }
      }
      .detail_3 {
        margin: 0;
        .detail_icon {
          display: none;
        }
        .detail_category {
          @include center();
          flex-direction: column;
          h1 {
            font-size: 1.9rem;
          }
          h6 {
            display: flex;
            font-size: 1rem;
            white-space: nowrap;
          }
        }
      }
    }
    
  }
}
