@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_whoweare {
  @include center();
  min-height: 80vh;
  width: 80%;
  margin: auto;
  color: var(--secondary-color);

  & > h1 {
    @include center();
    font-size: 7rem;
    font-weight: 500;
    line-height: 9rem;
    font-family: var(--heading-font);
  }

  & > p {
    font-size: 2.2rem;
    text-align: center;
    margin: 4rem 0;
  }
  & > h3 {
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
  }
}