@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event_burgerMenu {
  position: relative;
  .burger_icon {
    @include center();
    position: absolute;
    right: 0;
    top: -1.75rem;
    transition: all 1s linear;
    background-color: var(--event-third-color);
    padding:10px;
    color: white;
    border-radius: 100%;
    // to be change in responsive
    height: 3.5em;
    width: 3.5em;
    font-size: 1rem;
  }
  & > ul {
    position: absolute;
    top: -1rem;
    right: 1rem;
    margin-right: 7rem;
    @include center();
    gap: 4rem;
    animation: animate 1.5s none;
    overflow: hidden;
    @keyframes animate {
      from {
        right: -5.2rem;
      }
      to {
        right: 1rem;
      }
    }
    > li {
      font-size: 1.5rem;
      list-style: none;
      cursor: pointer;

    }
  }
}
