@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.event_year_container{
    @include center();
    color: aliceblue;
    .event_year{
        font-size: 20rem;
        margin: 5rem 0 2rem 0;
    }
    .marqueee{
        margin-bottom: 7rem;
        @include center();
        min-width: 100%;
        .marquee_span{
            padding: 1rem 10rem;
            border-right: 1px white solid;
        }
    }
}