@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container {
    position: absolute;
    width: 100%;
    top: 1rem;
    z-index: 1;
  @include center();
  justify-content: space-between;
  height: 4.4rem;
  background-color: rgb(58, 58, 58);
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 0 3rem;
//   margin: 0 2rem;
  .header_logo {
    @include center();
    & > img {
      width: 15rem;
      height: 3rem;
    }
  }
  .header_navList {
    width: 100%;
    padding: 0 10rem;
    & > ul {
      list-style: none;
      @include center();
      justify-content: space-between;

      &>li>a{
        text-decoration: none;
        font-size: 1.5rem;
        color: chocolate;
      }
    }
  }
}
