@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
  @include center();
  justify-content: space-between;
  height: 4.4rem;
  background: #c00036;
  border-radius: 0 0 10rem 10rem;
  padding: 0 3rem;
  .header_logo {
    @include center();
    & > img {
      width: 15rem;
      height: 3rem;
    }
  }
  .header_navList {
    width: 100%;
    padding: 0 10rem;
    & > ul {
      list-style: none;
      @include center();
      justify-content: space-between;

      &>li>a{
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        // color: var(--home-fourth-color);
        color: rgb(255, 217, 166);
      }
    }
  }


}

