@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  @include center();
  justify-content: space-between;
  height: 4.4rem;
  box-shadow: 0 0 2rem gray inset;
  border-radius: 0 0 10rem 10rem;
  padding: 0 4em;
  .header_logo {
    @include center();
    & > img {
      width: 14rem;
      height: 3rem;
    }
  }
  .header_navList {
    width: 100%;
    & > ul {
      list-style: none;
      @include center();
      justify-content: space-around;
      padding: 0 4em;
      & > li > a {
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
      }
    }
  }
}
.header_responsive {
  display: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 100%;
  border: 1px solid white;
  cursor: pointer;
  .burger_icon {
    @include center();
    transition: all 1s linear;
    padding:8px;
    color: white;
    height: 2.7rem;
    width: 2.7rem;
    font-size: 1rem;
  }
  & > ul {
    position: absolute;
    top: .75rem;
    right: 1.2rem;
    margin-right: 3rem;
    @include center();
    gap: 1rem;
    animation: header 1.5s none;
    @keyframes header {
      from {
        right: -1rem;
      }
      to {
        right: 1rem;
      }
    }
    overflow: hidden;
    > li {
      font-size: 1rem;
      list-style: none;
      cursor: pointer;
      color: white;

    }
  }
}


@media screen and (max-width:1150px) {
  .header_container {
    height: 4.1rem;
    border-radius: 0 0 130rem 130rem;
    padding: 0 4em;
    .header_logo {
      @include center();
      & > img {
        width: 14rem;
        height: 2.5rem;
      }
    }
    .header_navList {
      width: 100%;
      & > ul {
        list-style: none;
        @include center();
        justify-content: space-around;
        padding: 0 2.5em;
        & > li > a {
          text-decoration: none;
          cursor: pointer;
          font-size: 1.25rem;
          font-weight: 600;
          color: white;
        }
      }
    }
  }
}
@media screen and (max-width:900px) {
  .header_container {
    height: 3.9rem;
    border-radius: 0 0 130rem 130rem;
    padding: 0 4em;
    .header_logo {
      @include center();
      & > img {
        width: 12.5rem;
        height: 2.5rem;
      }
    }
    .header_navList {
      width: 100%;
      & > ul {
        list-style: none;
        @include center();
        justify-content: space-around;
        padding: 0 2em;
        & > li > a {
          text-decoration: none;
          cursor: pointer;
          font-size: 1.15rem;
          font-weight: 600;
          color: white;
        }
      }
    }
  }
}
@media screen and (max-width:780px) {
  .header_container {
    height: 3.7rem;
    border-radius: 0 0 130rem 130rem;
    padding: 0 4em;
    .header_logo {
      @include center();
      & > img {
        width: 11rem;
        height: 2.3rem;
      }
    }
    .header_navList {
      width: 100%;
      & > ul {
        list-style: none;
        @include center();
        justify-content: space-around;
        padding: 0 1em;
        & > li > a {
          text-decoration: none;
          cursor: pointer;
          font-size: 1rem;
          font-weight: 600;
          color: white;
        }
      }
    }
  }
}
@media screen and (max-width:650px) {
  .header_container {
    display: none;
  }
  .header_responsive{
    display: block;
  }
}