@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_container {
  @include center();
  .carousel_container {
    border-radius: 1rem;
    & > h1 {
      color: var(--secondary-color);
      font-size: 4.5rem;
      text-align: center;
      margin-bottom: 5rem;
      font-family: var(--heading-font);
    }
    .about_carousel {
      border-radius: 10rem;
    }
  }
}

#about{
  width: 80%;
  margin: auto;
}

@media screen and (max-width:1150px) {
  #about{
    width: 85%;
    margin: auto;
  }
}
@media screen and (max-width:780px) {
}
@media screen and (max-width:525px) {

}