@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  .about_container {
    @include center();
  }
  .carousel_container{
    margin: 10rem 0;
    padding: 0 9rem;
    border-radius: 1rem;
    &>h1{
      color: var(--home-first-color);
      font-size: 4.5rem;
      text-align: center;
      margin-bottom: 5rem;
    }

    .about_carousel{
      border-radius: 10rem;
    }
  }
}
