@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.domain_container {
  @include center();
  margin: 4rem   0;
  & > h1 {
    font-size: 4.5rem;
    margin-bottom: 3rem;
    color: var(--home-first-color);
  }

  .domain_types {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include center();
    gap: 3rem;
    .col_1 {
      @include center();
      flex-direction: row;
    }
    .col_2 {
      @include center();
      flex-direction: row;
      gap: 2rem;
    }
    .col_3 {
      @include center();
      flex-direction: row;
      gap: 2rem;
    }
    .box {
      height: 10.3rem;
      width: 16rem;
      padding: .8rem 1rem;
      background-image: linear-gradient(
        315deg,
        var(--home-fourth-color) 0%,
        #000000 74%
      );
      // border: 1px solid var(--home-third-color);
      outline: none;
      border-radius: 1.6rem;
      @include center();
      justify-content: space-around;

      & > h1 {
        font-size: 2rem;
        color: var(--home-first-color);
        // margin: 10px 0;

      }
      & > p {
        color: var(--home-third-color);
        
        font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: .9rem;
        font-weight: 500;
      }
    }
  }
}
