@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triple_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color-first);
  min-height: 100vh;
  .triple_content {
    @include center();
    padding-right: 8rem;
    .triple_wrapper {
      height: auto;
      & > h1 {
        width: max-content;
        font-size: 4rem;
        margin-bottom: 4rem;
        font-family: var(--heading-font);
        background: -webkit-linear-gradient(left, #5f008e, #8e004e, #008e5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background: -moz-linear-gradient(left, #5f008e, #8e004e, #008e5f);
        -moz-background-clip: text;
        background-clip: text;
        -moz-text-fill-color: transparent;
      }

      .triple_accordian {
        & > .topic {
          width: 100%;
          margin: 0.6rem 0;
          font-size: 1.4rem;
          margin-bottom: 3rem;
          cursor: pointer;
          transition: all 0.6s ease;
          &:nth-of-type(1) {
            color: var(--primary-color);
          }
          &:nth-of-type(2) {
            color: var(--secondary-color);
          }
          &:nth-of-type(3) {
            color: var(--tertiary-color);
          }
          & > .heading {
            font-size: 2rem;
            font-family: var(--main-font);
            animation: pulse 1.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;

            @keyframes pulse {
              0%,
              100% {
                opacity: 1;
              }
              50% {
                opacity: 0.6;
              }
            }

            & > span {
              color: var(--home-second-color); // use different color
            }
          }
          & > p {
            color: var(--home-second-color);
            opacity: 0;
            overflow: hidden;
            margin-top: 1rem;
            font-size: 1.3rem;
            transition: all 0.3s ease-in;
            height: 0;
          }
          &:hover {
            & > p {
              opacity: 1;
              height: 100%;
            }
            & > .heading {
              animation: none;
            }
          }
        }
      }
    }
  }
  .triple_img {
    @include center();
    & > img {
      height: 23rem;
      width: 25rem;
    }
  }
}

@media screen and (max-width: 1250px) {
  .triple_container {
    min-height: 80vh;
    .triple_img {
      & > img {
        height: 20rem;
        width: 20rem;
      }
    }
  }
}
@media screen and (max-width:1100px) {
  .triple_container {

    .triple_content {
      padding-right: 4rem;
      .triple_wrapper {
        & > h1 {
          font-size: 3.5rem;
          margin-bottom: 4rem;
        }
  
        .triple_accordian {
          & > .topic {
            width: 100%;
            margin: 0.6rem 0;
            margin-bottom: 3rem;
            & > .heading {
              font-size: 1.8rem;
            }
            & > p {
              margin-top: 1rem;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
    .triple_img {
      & > img {
        height: 19rem;
        width: 20rem;
      }
    }
  }
}
@media screen and (max-width:930px) {
  .triple_container {
    min-height: 70vh;
    margin-bottom: 3rem;
    .triple_content {
      padding-right: 2rem;
      .triple_wrapper {
        & > h1 {
          font-size: 3rem;
          margin-bottom: 4rem;
        }
  
        .triple_accordian {
          & > .topic {
            width: 100%;
            margin: 0.6rem 0;
            margin-bottom: 3rem;
            & > .heading {
              font-size: 1.6rem;
            }
            & > p {
              margin-top: 1rem;
              font-size: 1rem;
            }
          }
        }
      }
    }
    .triple_img {
      & > img {
        height: 18rem;
        width: 19rem;
      }
    }
  }
}
@media screen and (max-width:800px) {
  .triple_container {
    min-height: 60vh;
    align-items: flex-start;
    .triple_content {
      padding-right: 2rem;
    }
    .triple_img {
      & > img {
        display: none;
        height: 18rem;
        width: 19rem;
      }
    }
  }
}

@media screen and (max-width:520px) {
  .triple_container {
    .triple_content {
      padding-right: 0rem;
      .triple_wrapper {
        & > h1 {
          font-size: 2.8rem;
          margin-bottom: 2.5rem;
        }
  
        .triple_accordian {
          & > .topic {
            width: 100%;
            margin: 0.4rem 0;
            margin-bottom: 2rem;
            & > .heading {
              font-size: 1.5rem;
            }
            & > p {
              margin-top: .8rem;
              font-size: .9rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:400px) {
  .triple_container {
    .triple_content {
      .triple_wrapper {
        & > h1 {
          font-size: 2.6rem;
          margin-bottom: 2rem;
          word-spacing: 1px;
        }
  
        .triple_accordian {
          & > .topic {
            width: 100%;
            margin: 0.4rem 0;
            margin-bottom: 1.5rem;
            & > .heading {
              font-size: 1.45rem;
            }
            & > p {
              margin-top: .6rem;
            }
          }
        }
      }
    }
  }
}