@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triple_container {
  min-height: 80vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color-first);
  .triple_content {
    @include center();
    height: 100%;
    .triple_wrapper {
      height: auto;
      & > h1 {
        width: max-content;
        font-size: 4rem;
        margin-bottom: 4rem;
        font-family: var(--heading-font);
        background: -webkit-linear-gradient(left, #5f008e, #8e004e, #008e5f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background: -moz-linear-gradient(left, #5f008e, #8e004e, #008e5f);
        -moz-background-clip: text;
        background-clip: text;
        -moz-text-fill-color: transparent;
      }

      .triple_accordian {
        width: 80%;
        margin: auto;

        & > .topic {
          width: 100%;
          margin: 0.6rem 0;
          font-size: 1.4rem;
          margin-bottom: 3rem;
          cursor: pointer;
          transition: all 0.6s ease;
          &:nth-of-type(1) {
            color: var(--primary-color);
          }
          &:nth-of-type(2) {
            color: var(--secondary-color);
          }
          &:nth-of-type(3) {
            color: var(--tertiary-color);
          }
          & > .heading {
            font-size: 2.25rem;
            font-family: var(--main-font);
            animation: pulse 1.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;

            @keyframes pulse {
              0%,
              100% {
                opacity: 1;
              }
              50% {
                opacity: 0.6;
              }
            }

            & > span {
              color: var(--home-second-color); // use different color
            }
          }
          & > p {
            color: var(--home-second-color);
            opacity: 0;
            overflow: hidden;
            margin-top: 1rem;
            font-size: 1.1rem;
            transition: all 0.3s ease-in;
            height: 0;
          }
          &:hover {
            & > p {
              opacity: 1;
              height: 100%;
            }
            & > .heading {
              animation: none;
            }
          }
        }
      }
    }
  }
  .triple_img {
    @include center();
    & > img {
      height: 25rem;
      width: 30rem;
    }
  }
}