@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vision_container {
  min-height: calc(100vh - 4.4rem);
  @include center();
  width: 80%;
  margin: auto;
  color: var(--font-color-first);
  & > h1 {
    font-size: 7rem;
    font-family: var(--heading-font);
    background: url("/images/mirror.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
    -moz-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    word-spacing: -1.1rem;
  }

  & > p {
    font-size: 1.9rem;
    text-align: center;
    margin: 2rem 0;
    word-break: keep-all;
  }
}

@media screen and (max-width:1250px) {
  .vision_container {
    width: 84%;
    & > h1 {
      font-size: 6rem;
    }
  
    & > p {
      font-size: 1.6rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.1rem;
    }
  }
  
}
@media screen and (max-width:1000px) {
  
  .vision_container {
    width: 87%;
    & > h1 {
      font-size: 5.5rem;
    }
  
    & > p {
      font-size: 1.55rem;
      letter-spacing: normal;
    }
  }
  
}

@media screen and (max-width:850px) {
  .vision_container {
    width: 93%;
    & > h1 {
      font-size: 5.3rem;
    }
  
    & > p {
      font-size: 1.4rem;
      margin: 1.4rem 0;
    }
  }
  
}
@media screen and (max-width:650px) {
  .vision_container {
    min-height: 60vh;
    width: 95%;
    & > h1 {
      font-size: 4.7rem;
    }
    & > p {
      font-size: 1.1rem;
      margin: 1.1rem 0;
    }
  }
  
}

@media screen and (max-width:500px) {
  .vision_container {
    width: 97%;
    & > h1 {
      font-size: 4.2rem;
    }
  
    & > p {
      font-size: 1rem;
      margin: 1.4rem 0;
    }
  }
  
}

@media screen and (max-width:450px) {
  .vision_container {
    width: 100%;

    & > h1 {
      text-align: center;
      line-height: 4rem;
    }

  }
  
}