@mixin center(){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer_container{
    // min-height: 100vh;
    @include center();
    position: relative;
    color:var(--home-first-color);
    .footer_content{
        width: 60%;
        margin: auto;
        @include center();
        gap: 2.5rem;
        &>h1{
            font-size: 1.9rem;
        }

        .footer_input{
            @include center();
            flex-direction: row;
            gap: 1rem;
            margin-bottom: 6rem;
            &>input{
                padding: 1rem 1rem;
                height: 3.5rem;
                width: 26rem;
                border-radius: .7rem;
                border: 0;
                outline: none;
            }
            &>button{
                padding: 1rem 1rem;
                border: 0;
                outline: none;
                height: 3.5rem;
                width: 7rem;
                border-radius: .7rem;
                font-size: 1.05rem;
                background-color: rgb(4, 166, 4);
            }
        }
        .footer_links{
            margin-bottom: 4rem;
            &>ul{
                list-style: none;
                @include center();
                flex-direction: row;
                gap: 2rem;
                &>li>a{
                    font-size: 1.3rem;
                    text-decoration: none;
                    color: var(--home-second-color);  
                    letter-spacing: 2px;
                }
            }
        }
    }

    .footer_logo{
            font-size: 22vw;
            line-height:17vw;
            overflow: hidden;
            letter-spacing: 1rem;
    }
}