*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    background-color: black;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.img_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  :root{

    --team-first-color:#eeeeee;
    --team-second-color:#00b7ff;
    --team-third-color:#2b4c80;
    --team-fourth-color: #151515;

     --home-first-color:#d8005e;
    --home-second-color:#00cc1f;
    --home-third-color: #c6cd00;
    --home-fourth-color: #01a2e8;

  }