@import url("https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap");
@font-face {
  font-family: "high jump";
  src: url("./fonts/main.ttf");
}
@font-face {
  font-family: "money";
  src: url("./fonts/moneyu.ttf");
}

:root {
  --main-font: "Rubik Pixels", cursive;
  --main-font-second: "high jump", sans-serif;
  --heading-font: "money", cursive;
  --primary-color: #5f008e;
  --secondary-color: #8e004e;
  --tertiary-color: #008e5f;
  --font-color-first: white;
}