// @font-face {
//   font-family: "high jump";
//   src: url("./fonts/main.ttf");
// }
// @font-face {
//   font-family: "money";
//   src: url("./fonts/moneyu.ttf");
// }

:root {
  --main-font: "Rubik Pixels", cursive;
  --main-font-second: "high jump", sans-serif;
  --heading-font: "money", cursive;
  --primary-color: #8503c6;
  --secondary-color: #c2016b;
  --tertiary-color: #008e5f;
  --font-color-first: white;
  --team-color:#4aa6df;
  --team-second-color:#00b7ff;
  --team-third-color:#2b4c80;
  --team-fourth-color: #151515;
  --event-first-color:#c1026b;
  --event-second-color:#7f01be;
  --event-third-color:rgb(145, 144, 144);
}