* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.img_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img_container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --team-first-color:#eeeeee;
  --team-second-color:#03acef;
  --team-third-color:#384d6e;
  --team-fourth-color: #151515;
  --home-first-color:#d8005e;
  --home-second-color:#00cc1f;
  --home-third-color: #c6cd00;
  --home-fourth-color: #01a2e8;
}

#home {
  width: 80%;
  margin: auto;
}
#home .landing_container {
  margin-top: 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
#home .landing_container .img_container {
  height: 50vh;
  width: 50vh;
}
#home .landing_container span {
  color: var(--home-fourth-color);
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 2.9rem;
}

.statistics_container {
  overflow: hidden;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
}
.statistics_container .statistics_content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  color: var(--home-first-color);
  color: rgb(0, 148, 72);
}
.statistics_container .statistics_content h1 {
  font-size: 4.5rem;
  margin-bottom: 5rem;
}
.statistics_container .statistics_content hr {
  width: 4rem;
  margin-bottom: 2rem;
}
.statistics_container .statistics_content p {
  font-size: 1.3rem;
  padding-right: 2rem;
}
.statistics_container .statistics_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.4rem;
  color: var(--home-first-color);
  color: rgb(211, 0, 0);
}
.statistics_container .statistics_detail .detail_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.statistics_container .statistics_detail .detail_1 .detail_icon {
  color: var(--home-third-color);
}
.statistics_container .statistics_detail .detail_1 .detail_category h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}
.statistics_container .statistics_detail .detail_1 .detail_category h1 span {
  font-size: 2.5rem;
}
.statistics_container .statistics_detail .detail_1 .detail_category h6 {
  display: flex;
  border-bottom: 1px yellow solid;
  font-size: 1.5rem;
}
.statistics_container .statistics_detail .detail_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-left: 6rem;
}
.statistics_container .statistics_detail .detail_2 .detail_icon {
  color: var(--home-third-color);
}
.statistics_container .statistics_detail .detail_2 .detail_category h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 3.5rem;
}
.statistics_container .statistics_detail .detail_2 .detail_category h1 span {
  font-size: 2.5rem;
}
.statistics_container .statistics_detail .detail_2 .detail_category h6 {
  display: flex;
  border-bottom: 1px yellow solid;
  font-size: 1.5rem;
}
.statistics_container .statistics_detail .detail_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.statistics_container .statistics_detail .detail_3 .detail_icon {
  color: var(--home-third-color);
}
.statistics_container .statistics_detail .detail_3 .detail_category h1 {
  font-size: 3.5rem;
}
.statistics_container .statistics_detail .detail_3 .detail_category h6 {
  display: flex;
  border-bottom: 1px yellow solid;
  font-size: 1.5rem;
}

.domain_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
}
.domain_container > h1 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
  color: var(--home-first-color);
}
.domain_container .domain_types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.domain_container .domain_types .col_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}
.domain_container .domain_types .col_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  gap: 2rem;
}
.domain_container .domain_types .col_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  gap: 2rem;
}
.domain_container .domain_types .box {
  height: 10.3rem;
  width: 16rem;
  padding: 0.8rem 1rem;
  background-image: linear-gradient(315deg, var(--home-fourth-color) 0%, #000000 74%);
  outline: none;
  border-radius: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.domain_container .domain_types .box > h1 {
  font-size: 2rem;
  color: var(--home-first-color);
}
.domain_container .domain_types .box > p {
  color: var(--home-third-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}

.accordian_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.accordian_container > h1 {
  font-size: 4rem;
  color: var(--home-first-color);
  margin-bottom: 10rem;
}
.accordian_container .accordian_list {
  width: 100%;
}
.accordian_container .accordian_list .accordian {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.accordian_container .accordian_list .accordian:hover {
  padding-bottom: 2rem;
}
.accordian_container .accordian_list .accordian > hr {
  margin: 0.4rem 0;
}
.accordian_container .accordian_list .accordian .question {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}
.accordian_container .accordian_list .accordian .question > h2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--home-second-color);
}
.accordian_container .accordian_list .accordian .answer {
  padding: 0.4rem 0 2rem 0;
  font-size: 1.3rem;
  color: var(--home-first-color);
  transition: 1s ease-in-out;
}

.contact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 7rem;
  color: var(--home-second-color);
}
.contact_container .contact_info {
  position: relative;
  box-shadow: 0px 0px 20px 7px var(--home-first-color) inset;
  padding: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact_container .contact_info .contact_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-end;
}
.contact_container .contact_info .contact_heading > h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
.contact_container .contact_info .contact_heading > h3 {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: right;
  width: 100%;
  margin-bottom: 3rem;
}
.contact_container .contact_info > p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.contact_container .contact_info .logo1 {
  height: 10rem;
  width: 10rem;
  position: absolute;
  bottom: -4.7rem;
  left: -4.8rem;
}
.contact_container .contact_info .logo1 img {
  -o-object-fit: contain;
     object-fit: contain;
}
.contact_container .contact_info > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 13px 25px;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}
.contact_container .contact_info > button > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_container .contact_info > button:hover {
  transform: translateY(-0.4rem);
}
.contact_container .contact_info .contact_handles {
  color: var(--home-fourth-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.contact_container .contact_info .contact_handles > p {
  font-size: 1.2rem;
}
.contact_container .contact_info .contact_handles .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact_container .logo2 {
  height: 25rem;
  aspect-ratio: 1;
}

#about {
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}
#about .about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about .carousel_container {
  margin: 10rem 0;
  padding: 0 9rem;
  border-radius: 1rem;
}
#about .carousel_container > h1 {
  color: var(--home-first-color);
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 5rem;
}
#about .carousel_container .about_carousel {
  border-radius: 10rem;
}

.about_whoweare {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 80%;
  margin: auto;
  color: var(--home-first-color);
}
.about_whoweare > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 7rem;
  font-weight: 500;
  line-height: 0.9;
}
.about_whoweare > p {
  font-size: 2.2rem;
  text-align: center;
  margin: 4rem 0;
}
.about_whoweare > h3 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
}

.vision_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--home-first-color);
  width: 80%;
  margin: auto;
}
.vision_container > h1 {
  font-size: 6rem;
}
.vision_container > p {
  font-size: 1.8rem;
  text-align: center;
  margin: 3rem 0;
}

.triple_container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  color: var(--home-first-color);
}
.triple_container .triple_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.triple_container .triple_content .triple_wrapper {
  height: 20rem;
}
.triple_container .triple_content .triple_wrapper > h1 {
  width: 100%;
  font-size: 3.8rem;
  color: var(--about-second-color);
  margin-bottom: 4rem;
}
.triple_container .triple_content .triple_wrapper .triple_accordian {
  width: 80%;
  margin: auto;
}
.triple_container .triple_content .triple_wrapper .triple_accordian > .topic {
  width: 100%;
  margin: 0.6rem 0;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
.triple_container .triple_content .triple_wrapper .triple_accordian > .topic > .heading {
  font-size: 1.7rem;
  animation: pulse 1.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.triple_container .triple_content .triple_wrapper .triple_accordian > .topic > .heading > span {
  color: var(--home-second-color);
}
.triple_container .triple_content .triple_wrapper .triple_accordian > .topic > p {
  color: var(--home-second-color);
  opacity: 0;
  overflow: hidden;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
  height: 0;
}
.triple_container .triple_content .triple_wrapper .triple_accordian > .topic:hover > p {
  opacity: 1;
  height: 100%;
}
.triple_container .triple_content .triple_wrapper .triple_accordian > .topic:hover > .heading {
  animation: none;
}
.triple_container .triple_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.triple_container .triple_img > img {
  height: 25rem;
  width: 30rem;
}

.swiper_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--team-fourth-color);
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--team-third-color), -5px -5px 10px var(--team-second-color);
}
.swiper_container::before {
  content: "";
  position: absolute;
  width: 22rem;
  height: 100rem;
  left: 30rem;
  background: linear-gradient(red, blue);
  animation: animate 1.5s infinite linear;
  z-index: -1;
}
.swiper_container::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgb(0, 0, 0);
  z-index: -1;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.swiper_container .swiper_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 6rem;
}
.swiper_container .swiper_wrapper .swiper {
  height: 25rem;
  width: 650px;
  padding: 2.7rem;
}
.swiper_container .swiper_wrapper .swiper .team_name {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: -0.8rem;
  font-size: 1.2rem;
  white-space: nowrap;
  color: var(--team-second-color);
  letter-spacing: 1px;
}
.swiper_container .swiper_wrapper .swiper .team_name > span {
  margin-right: 1rem;
}
.swiper_container .swiper_wrapper .swiper .swiper-slide {
  filter: blur(3px);
}
.swiper_container .swiper_wrapper .swiper .swiper-slide-active {
  filter: blur(0);
}
.swiper_container .swiper_wrapper .swiper .swiper-slide-active:hover {
  box-shadow: 0px 0px 30px var(--team-third-color) inset;
}
.swiper_container .swiper_wrapper .swiper .swiper-slide-active .team_name {
  opacity: 1;
  transform: translateY(-2rem);
  transition: all 1s ease;
}
.swiper_container .swiper_wrapper .swiper_id {
  color: var(--team-second-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.swiper_container .swiper_wrapper .swiper_control_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
}
.swiper_container .swiper_wrapper .swiper_control_btns > span {
  background-color: white;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  position: absolute;
}
.swiper_container .swiper_wrapper .swiper_control_btns > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding: 1rem 1rem;
  border-radius: 10rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  border: 1px solid black;
  box-shadow: 0px 0px 3rem red;
  color: yellow;
  border: 1px solid black;
  box-shadow: 0px 0px 2.3rem rgb(0, 92, 177);
  color: var(--team-second-color);
}

.team_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;
  color: var(--team-first-color);
}
.team_container .team_logo > img {
  height: 4rem;
  width: 13rem;
  margin-top: 1rem;
}
.team_container .swiper_leftBtns,
.team_container .swiper_rightBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  gap: 2.5rem;
}
.team_container .swiper_leftBtns .btn_content,
.team_container .swiper_rightBtns .btn_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  gap: 0.7rem;
}
.team_container .swiper_leftBtns .btn_content > button,
.team_container .swiper_rightBtns .btn_content > button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 100%;
  background: transparent;
  border: 1px solid black;
  box-shadow: 0px 0px 2rem red;
  color: yellow;
  border: 1px solid black;
  box-shadow: 0px 0px 2.3rem rgb(0, 92, 177);
  color: var(--team-second-color);
  cursor: pointer;
}
.team_container .swiper_leftBtns .btn_content > button:hover,
.team_container .swiper_rightBtns .btn_content > button:hover {
  transform: scale(1.3);
}
.team_container .swiper_leftBtns .btn_content > span,
.team_container .swiper_rightBtns .btn_content > span {
  font-size: 0.95rem;
}
.team_container .swiper_leftBtns > .btn_content > .btn_mid {
  transform: scale(1.3);
  margin-bottom: 0.5rem;
}
.team_container .swiper_rightBtns {
  gap: 4rem;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: var(--home-first-color);
}
.footer_container .footer_content {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}
.footer_container .footer_content > h1 {
  font-size: 1.9rem;
}
.footer_container .footer_content .footer_input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 6rem;
}
.footer_container .footer_content .footer_input > input {
  padding: 1rem 1rem;
  height: 3.5rem;
  width: 26rem;
  border-radius: 0.7rem;
  border: 0;
  outline: none;
}
.footer_container .footer_content .footer_input > button {
  padding: 1rem 1rem;
  border: 0;
  outline: none;
  height: 3.5rem;
  width: 7rem;
  border-radius: 0.7rem;
  font-size: 1.05rem;
  background-color: rgb(4, 166, 4);
}
.footer_container .footer_content .footer_links {
  margin-bottom: 4rem;
}
.footer_container .footer_content .footer_links > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: row;
  gap: 2rem;
}
.footer_container .footer_content .footer_links > ul > li > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--home-second-color);
  letter-spacing: 2px;
}
.footer_container .footer_logo {
  font-size: 22rem;
  line-height: 18rem;
  overflow: hidden;
  letter-spacing: 1.5rem;
}

.header_container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 4.4rem;
  box-shadow: 0 0 2rem gray inset;
  border-radius: 0 0 10rem 10rem;
  padding: 0 3rem;
}
.header_container .header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_container .header_logo > img {
  width: 15rem;
  height: 3rem;
}
.header_container .header_navList {
  width: 100%;
  padding: 0 10rem;
}
.header_container .header_navList > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.header_container .header_navList > ul > li > span {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--home-fourth-color);
}

.loader_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  min-height: 100vh;
}
.loader_container .cat {
  background-color: rgb(1, 138, 206);
  height: 160px;
  width: 160px;
  border-radius: 120px 120px 120px 120px;
  position: relative;
}
.loader_container .cat .ear {
  height: 60px;
  width: 60px;
  position: absolute;
  border-bottom: 100px solid rgb(33, 33, 33);
  border-right: 65px solid transparent;
  top: -30px;
}
.loader_container .cat .ear_l {
  left: 1px;
}
.loader_container .cat .ear_r {
  transform: rotateY(180deg);
  right: 0px;
}
.loader_container .cat .eye {
  height: 51px;
  width: 51px;
  background-color: rgb(154, 154, 154);
  position: absolute;
  display: flex;
  border-radius: 50%;
  top: 35px;
}
.loader_container .cat .eye .circle {
  position: absolute;
  top: 9px;
  left: 8px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  animation: spin 5s infinite linear;
}
.loader_container .cat .eye .circle::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: rgb(0, 0, 0);
  top: -3px;
  left: 6px;
  border-radius: 50%;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.loader_container .cat .eye_l {
  left: 21.5px;
}
.loader_container .cat .eye_r {
  right: 21.5px;
}
.loader_container .cat .nose {
  height: 28px;
  width: 36px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  border-radius: 50% 50% 52% 48%/18% 18% 82% 82%;
  top: 73px;
  left: 62px;
}
.loader_container .cat .mouth {
  position: absolute;
  background-color: rgb(188, 153, 153);
  height: 22px;
  width: 45px;
  position: absolute;
  bottom: 30px;
  left: 57.4px;
  border-radius: 0 0 50px 50px;
  border: 2.5px solid rgb(0, 0, 0);
}

.events {
  max-width: 95%;
  margin: auto;
}

.event_container {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.event_container .burgerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  width: 100%;
  margin-top: 1rem;
}
.event_container .burgerHeader .event_burger_icon {
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1rem;
}
.event_container .event_header {
  margin-top: 2rem;
}
.event_container .event_header .event_heading1 {
  font-size: 11.5vw;
  color: rgb(1, 26, 212);
}
.event_container .event_header .event_heading1 > span {
  color: red;
}
.event_container .event_header .event_heading2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.event_container .event_header .event_heading2 > span {
  font-size: 5rem;
  color: burlywood;
  font-weight: 100;
}
.event_container .event_header .event_heading2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 6px;
}
.event_container .event_header .event_heading2 > div > :nth-child(1) {
  color: red;
}
.event_container .event_header .event_heading2 > div > :nth-child(2) {
  color: rgb(0, 30, 255);
}
.event_container .event_introImg > img {
  margin-top: 10rem;
  height: 40rem;
  width: 90vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.event_container .event_preface {
  width: 85%;
  margin: auto;
  margin-top: 10rem;
}
.event_container .event_preface > p {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
}

.event_section {
  color: rgb(217, 255, 0);
  display: grid;
  grid-template-columns: 1.3fr 3fr 1.3fr;
  font-size: 1.05rem;
  margin-bottom: 13rem;
}
.event_section .event_section_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.event_section .event_section_left > h1 {
  font-size: 5vw;
  margin-bottom: 3vw;
  font-weight: 300;
}
.event_section .event_section_left > :nth-child(2) {
  margin-bottom: 50vw;
}
.event_section .event_section_mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.event_section .event_section_mid > img {
  height: 33vw;
  width: 42vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.event_section .event_section_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.event_section .event_section_right .event_dates {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.5rem;
  letter-spacing: -2px;
  margin-bottom: 33vw;
}
.event_section .event_section_right .event_dates .event_date {
  font-size: 8vw;
  line-height: 5.6vw;
}
.event_section .event_section_right .event_dates .event_month {
  font-size: 3vw;
  line-height: 2.15vw;
}
.event_section .event_section_right > p {
  text-align: end;
}

.event_year_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}
.event_year_container .event_year {
  font-size: 20rem;
  margin: 15rem 0 10rem 0;
}

.event_burgerMenu {
  position: relative;
}
.event_burgerMenu .burger_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: -1.75rem;
  transition: all 1s linear;
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1rem;
}
.event_burgerMenu > ul {
  position: absolute;
  top: -1rem;
  right: 1rem;
  margin-right: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  animation: animate 1.5s none;
  overflow: hidden;
}
@keyframes animate {
  from {
    right: -5.2rem;
  }
  to {
    right: 1rem;
  }
}
.event_burgerMenu > ul > li {
  font-size: 1.5rem;
  list-style: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */